body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.mingzat-regular {
  font-family: "Mingzat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.teko {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Apply the font to all header tags (h1, h2) */
h1, h2 {
    font-family: "Mingzat", sans-serif;
}

/* Apply the font to all body text */
body {
  font-family: "Teko", sans-serif;
}

.navbar {
  background-color: #0000;
  border-radius: 2px;
  max-width: 1400px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

