body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
}



/* Apply the font to all header tags (h1, h2) */
h1, h2 {
    font-family: "bebas-neue-regular", sans-serif;
    padding: 10px;
}



/* Apply the font to all body text */
body {
  font-family: "josefin-sans", sans-serif;
  font-size: 55px;
  padding: 10px;
}

.navbar {
  background-color: #0000;
  border-radius: 2px;
  max-width: 1400px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

